:root{ /* variável dentro do css */
    --vermelho:#E50914;
    --preta:#141414;
}

*{ /* definindo para todos os elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos Base */

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header{
    background-color: whi;
    padding-bottom: 10px;
}

header .container {
    display: flex; /* coloca os itens em linha */
    flex-direction: row;
    align-items: center; /* alinha os itens */
    justify-content: space-between; /* espaço entre os itens */
}

header .logo{
    margin-left: 5px;
    color: #f7c53b;
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

header nav a:hover{ /* mudar a cor quando o cursor passar em cima */
    color: green;
}

.tey{
    text-align: center;
}

a{
    color: inherit;
}
